.container-fluid.container-listings
  .row.shop-listing
    - @shops.each do |shop|
      .col-sm-6.col-md-6.cover-box
        = link_to shop do
          .img-thumbnail.shop-thumbnail{:style => "border:none; background:white;"}
            .image-container.img-wrapper
              = image_tag attachment_url(shop, :cafe_image), class: "cafe-image"
              .shop_basic_info.hide
                .h3
                  = shop.address
                .h4
                  Price:
                  = price_as_symbol(shop.price)
                .h4
                  Hours:
                  = shop.hours
            %span.shop-name-info
              = shop.name
  .pagination-box
    = paginate @shops, class:"page-numbers"
