.container-fluid.container-listings
  .row
    - @shops.each do |shop|
      .col-sm-6.col-md-6.col-xs-6
        = link_to shop do
          .img-thumbnail{:style => "border:none; background:white;"}
            .image-container.img
            = image_tag attachment_url(shop, :cafe_image), size: "500x300"
            %span.h3.shop_basic_info
              = shop.name
              = shop.address
              Price:
              = price_as_symbol(shop.price)
            %span.p.shop_info
              Hours:
              = shop.hours
