.back-button.text-right
  = link_to shops_path, class: 'btn btn-warning ' do
    %i.fa.fa-chevron-left &nbsp
    Back

.shop_content
  .row.shop_content
    .col-md-6.col-md-offset-3
      .panel.panel.default
        .panel-heading.text-center.shop-name-text
          =@shop.name
        .ul.list-group.style-show-text
          .li.list-group-item
            Address:
            =@shop.address
          .li.list-group-item.style-show-text
            Website:
            =@shop.website
          .li.list-group-item.style-show-text
            Hours:
            =@shop.hours
          .li.list-group-item.style-show-text
            Phone Number:
            =@shop.phone_number
          .li.list-group-item.style-show-text
            Price:
            = price_as_symbol(@shop.price)
.image-map-box
  .row.shop-images-top-row
    .col-md-6.split-images
      .img-thumbnail.show-shop-thumnail{:style => "border:none; background:white;"}
        .show-img-container
        = image_tag attachment_url(@shop, :cafe_image), class: "show-cafe-image"
    .col-md-6.split-images
      = image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@shop.lat},#{@shop.lng}&markers=#{@shop.lat},#{@shop.lng}&zoom=7&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8", class: "map"
